<!-- <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-plus"></i></button> -->
<h2>{{t 'product.administration.menu.people'}}<small></small></h2>
{{#show-on-click  modelIsInValid=modelIsInValid
    onCloseClicked="closeAddPanel" onAddClicked="add" itemAdded=newPerson }}
  <div class="form-group {{if modelIsInValid "has-error"}}">
    <label for="firstNameInput">{{t 'fields.name'}}</label>
    {{input value=newPerson.firstName class="form-control" id="firstNameInput" }}

    <label for="lastNameInput">{{t 'fields.name'}}</label>
    {{input value=newPerson.lastName class="form-control" id="lastNameInput" }}
  </div>
{{/show-on-click}}

<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{t 'fields.name'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |person|}}
        <tr>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          {{#if person.user}}
          <td>Has User</td>
          {{else}}
          <td>No User</td>
          {{/if}}
        </tr>
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
