{{notification-container position="top"}}
{{#if session.isAuthenticated}}
  <header class="main-header" >
    <div class="logo">
      <span class="logo-mini"><b>{{model.acronym}}</b></span>
      <span class="logo-lg"><b>{{model.name}}</b><small style="font-size: 8px;padding-left:5px;">powered by orkaman</small></span>
    </div>
    <nav class="navbar navbar-static-top" role="navigation">
      <a role="button" data-toggle="push-menu" class="sidebar-toggle" href="#">
        <span class="sr-only">Toggle Navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-user visible-xs-block"></span>
              <span class="hidden-xs">{{session.sessionVariables.person.name}}</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <p>
                  {{session.sessionVariables.person.name}}
                  <small>{{session.sessionVariables.person.privilegeName}}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  {{#link-to 'company.current-profile' tagName="a" href=false class="btn btn-default btn-flat"}}
                    {{t 'product.user.profile'}}
                  {{/link-to}}
                  <!-- <a href="#" class="btn btn-default btn-flat">{{t 'product.user.profile'}}</a> -->
                </div>
                <div class="pull-right">
                  <a {{action 'doSignOut'}} class="btn btn-default btn-flat">{{t 'product.user.signOut'}}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      {{main-side-menu}}
    </section>
  </aside>
  <div class="content-wrapper" style="padding: 15px;">
    {{outlet}}
  </div>

  <footer class="main-footer" style="position: fixed;left: 0;bottom: 0px;width: 100%;">
    <div class="pull-right hidden-xs">
      Report an issue
    </div>
    <strong>Copyright © 2016 <a href="#">Orkaman</a>.</strong> All rights reserved.
  </footer>

{{else}}
  not authorized.
{{/if}}
