

<section class="invoice">
     <!-- title row -->
     <div class="row">
       <div class="col-xs-12">
         <h2 class="page-header">
           <i class="fa fa-globe"></i> Provider: {{purchaseTransaction.provider.name}}

           <small class="pull-right">{{format-date purchaseTransaction.purchaseDate}}</small>
           <small >{{purchaseTransaction.description}}</small>
         </h2>
       </div>
       <!-- /.col -->
     </div>
     <!-- info row -->
     <div class="row invoice-info">

       <div class="col-sm-4 invoice-col">
         <b>Invoice #007612</b><br>
         <b>Payment Due:</b> {{format-date purchaseTransaction.paymentDueDate}}<br>
         <b>Default Project:</b> {{purchaseTransaction.defaultProjectStage.project.name}}<br>
         <b>Default Project Stage:</b> {{purchaseTransaction.defaultProjectStage.name}}<br>
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         <br>
         <b>Order ID:</b> 4F3S8J<br>
         <b>Account:</b> 968-34567
         <!-- To
         <address>
           <strong>John Doe</strong><br>
           795 Folsom Ave, Suite 600<br>
           San Francisco, CA 94107<br>
           Phone: (555) 539-1037<br>
           Email: john.doe@example.com
         </address> -->
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         {{#if purchaseTransaction.transactionPaidOn}}
            <b>Paid on:</b> {{format-date purchaseTransaction.transactionPaidOn}}
         {{else}}
            <b>NOT PAID</b>
         {{/if}}

         {{#link-to "company.transactions.purchase-transactions.purchase-transaction.edit" class="pull-right" data-toggle="tooltip" title="edit transaction"}}
          <a href={{view.href}} class="text-muted" style="font-size: 15px;margin-left:10px;"><i class="fa fa-pencil"></i></a>
         {{/link-to}}<br>
         <br>
         <b>Order ID:</b> 4F3S8J<br>
         <b>Account:</b> 968-34567
       </div>
     </div>

     <br>
     {{#link-to 'company.transactions.purchase-transactions.purchase-transaction.products.new'}}
     <button class="btn btn-default">
       <i class="glyphicon glyphicon-plus"></i>
       {{t 'product.transactions.purchase-transactions.purchase-transaction.add_item'}}
     </button>
     {{/link-to}}
     <div class="row">
       <div class="col-xs-12 table-responsive">
         <table class="table table-striped">
           <thead>
           <tr>
             <th>Qty</th>
             <th>Product</th>
             <th>Description</th>
             <th>Project</th>
             <th>Stage</th>
             <th>Subtotal</th>
             <td></td>
           </tr>
           </thead>
           <tbody>
             {{#each purchaseTransaction.purchaseTransactionItems as |transactionItem|}}
             <tr>
               <td>{{transactionItem.quantity}}</td>
               <td>{{transactionItem.item.name}}</td>
               <td>{{transactionItem.description}}</td>
               <td>{{transactionItem.projectStage.project.name}}</td>
               <td>{{transactionItem.projectStage.name}}</td>
               <td>{{format-currency transactionItem.total fallback='n/a'}}</td>
               <td>
                {{#link-to 'company.transactions.purchase-transactions.purchase-transaction.products.product.edit' transactionItem.id}}
                  <button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                {{/link-to}}
                <button class="btn btn-default" {{action "remove" transactionItem}}><i class="glyphicon glyphicon-remove"></i></button>
               </td>
             </tr>
             {{/each}}
           </tbody>
         </table>
       </div>
     </div>

     <div class="row">
       <!-- accepted payments column -->
       <div class="col-xs-6">
         <p class="lead">Payment Method: {{purchaseTransaction.paymentType.name}}</p>
         <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
           Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
           dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
         </p>
       </div>
       <!-- /.col -->
       <div class="col-xs-6">
         <p class="lead">Amount Due {{format-date purchaseTransaction.paymentDueDate}}</p>

         <div class="table-responsive">
           <table class="table">
             <tbody>
               <tr>
                 <th>Other:</th>
                 <td>{{format-currency purchaseTransaction.other fallback='n/a'}}</td>
               </tr>
               <tr>
               <th style="width:50%">Subtotal:</th>
               <td>{{format-currency purchaseTransaction.subTotal fallback='n/a'}}</td>
             </tr>
             {{#if purchaseTransaction.tax}}
             <tr>
               <th>Tax</th>
               <td>{{format-currency purchaseTransaction.tax fallback='n/a'}}</td>
             </tr>
             {{/if}}
             <!-- <tr>
               <th>Shipping:</th>
               <td>$5.80</td>
             </tr> -->
             <tr>
               <th>Total:</th>
               <td>{{format-currency purchaseTransaction.total fallback='n/a'}}</td>
             </tr>
           </tbody></table>
         </div>
       </div>
     </div>
     <div class="row no-print">
       <div class="col-xs-12">
         <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
         <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
         </button>
         <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
           <i class="fa fa-download"></i> Generate PDF
         </button>
       </div>
     </div>
   </section>
