

<section class="invoice">
     <!-- title row -->
     <div class="row">
       <div class="col-xs-12">
         <h2 class="page-header">
           <i class="fa fa-globe"></i> Provider: {{purchaseTransaction.provider.name}}

           <small class="pull-right">{{format-date purchaseTransaction.purchaseDate}}</small>
           <small >{{purchaseTransaction.description}}</small>
         </h2>
       </div>
       <!-- /.col -->
     </div>
     <!-- info row -->
     <div class="row invoice-info">

       <div class="col-sm-4 invoice-col">
         <b>Reference #{{purchaseTransaction.id}}</b><br>
         <b>Default Project:</b> {{#link-to 'company.projects.project' purchaseTransaction.defaultProjectStage.project.id}}
                                   {{purchaseTransaction.defaultProjectStage.project.name}}
                                 {{/link-to}}<br>
         <b>Default Project Stage:</b> {{#link-to 'company.projects.project.stages.stage' purchaseTransaction.defaultProjectStage.project.id purchaseTransaction.defaultProjectStage.id}}
                                         {{purchaseTransaction.defaultProjectStage.name}}
                                       {{/link-to}}<br>
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         <b>Invoice #{{purchaseTransaction.invoiceNumber}}</b><br>
         <b>Payment Due:</b> {{format-date purchaseTransaction.paymentDueDate}}<br>
         <!-- <b>Account:</b> 968-34567 -->
         <!-- To
         <address>
           <strong>John Doe</strong><br>
           795 Folsom Ave, Suite 600<br>
           San Francisco, CA 94107<br>
           Phone: (555) 539-1037<br>
           Email: john.doe@example.com
         </address> -->
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         {{#if purchaseTransaction.paidInFull}}
            <b>Paid in full</b>
         {{else}}
            <b>NOT PAID</b>
         {{/if}}

         {{#link-to "company.transactions.purchase-transactions.purchase-transaction.edit" class="pull-right" data-toggle="tooltip" title="edit transaction"}}
          <a href={{view.href}} class="text-muted" style="font-size: 15px;margin-left:10px;"><i class="fa fa-pencil"></i></a>
         {{/link-to}}<br>
         <!-- <br>
         <b>Order ID:</b> 4F3S8J<br>
         <b>Account:</b> 968-34567 -->
       </div>
     </div>

     <br>
     {{#link-to 'company.transactions.purchase-transactions.purchase-transaction.products.new'}}
     <button class="btn btn-default">
       <i class="glyphicon glyphicon-plus"></i>
       <span class="btn-hover-text">{{t 'product.transactions.purchase-transactions.purchase-transaction.add_item'}}</span>
     </button>
     {{/link-to}}
     <div class="row">
       <div class="col-xs-12 table-responsive">
         <table class="table table-striped">
           <thead>
           <tr>
             <th>Qty</th>
             <th>Product</th>
             <th>Description</th>
             <th>Project</th>
             <th>Stage</th>
             <th>Subtotal</th>
             <td></td>
           </tr>
           </thead>
           <tbody>
             {{#each purchaseTransaction.purchaseTransactionItems as |transactionItem|}}
             <tr>
               <td>{{transactionItem.quantity}}</td>
               <td>{{transactionItem.item.name}}</td>
               <td>{{transactionItem.description}}</td>
               <td>{{transactionItem.projectStage.project.name}}</td>
               <td>{{transactionItem.projectStage.name}}</td>
               <td>{{format-currency transactionItem.total fallback='n/a'}}</td>
               <td>
                {{#link-to 'company.transactions.purchase-transactions.purchase-transaction.products.product.edit' transactionItem.id}}
                  <button class="btn btn-xs btn-default pull-right btn-hover" ><i class="glyphicon glyphicon-pencil"></i></button>
                {{/link-to}}
                <button class="btn btn-xs btn-default pull-right btn-hover" style="margin-right: 5px;" {{action "remove" transactionItem}}><i class="glyphicon glyphicon-remove"></i></button>
               </td>
             </tr>
             {{/each}}
           </tbody>
         </table>
       </div>
     </div>

     <div class="row">
       <!-- accepted payments column -->
       <div class="col-xs-6">
         <div class="box">
            <div class="box-header">
              <h3 class="box-title">Planned Payment Method: {{purchaseTransaction.paymentType.name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tbody>
                  <tr>
                    <th>Date</th>
                    <th>Amount paid</th>
                    <th>Payment Type</th>
                  </tr>
                  {{#each purchaseTransaction.paymentTransactions as |t|}}
                    <tr>
                      <td>{{format-date t.transactionPaidOn}}</td>
                      <td>{{format-currency t.total fallback='n/a'}}</td>
                      <td>{{t.paymentType.name}}</td>
                      <td><button class="btn btn-xs btn-default pull-right btn-hover" {{action "removePayment" t}}><i class="glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                  {{else}}
                  <tr><td colspan="2">
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                      Nothing to display here
                    </p></td></tr>
                  {{/each}}
              </tbody>
            </table>
            </div>
            <!-- /.box-body -->
          </div>

         <!-- <p class="lead">Payment Method: {{purchaseTransaction.paymentType.name}}</p>
          {{#each purchaseTransaction.paymentTransactions as |t|}}
          <table>
            <tr>
              <td>
            {{format-date t.transactionPaidOn}} {{format-currency t.total fallback='n/a'}}
              </td>
            </tr>
          </table>
          {{else}}
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
              Nothing to display here
            </p>
          {{/each}} -->


       </div>
       <!-- /.col -->
       <div class="col-xs-6">
         {{#unless purchaseTransaction.paidInFull}}
          <p class="lead">Amount Due {{format-date purchaseTransaction.paymentDueDate}}</p>
         {{/unless}}
         <div class="table-responsive">
           <table class="table">
             <tbody>
               <tr>
                 <th>Other:</th>
                 <td>{{format-currency purchaseTransaction.other fallback='n/a'}}</td>
               </tr>
               {{#if purchaseTransaction.tax}}
               <tr>
                 <th style="width:50%">Subtotal:</th>
                 <td>{{format-currency purchaseTransaction.subTotal fallback='n/a'}}</td>
               </tr>
               <tr>
                 <th>Tax</th>
                 <td>{{format-currency purchaseTransaction.tax fallback='n/a'}}</td>
               </tr>
               {{/if}}
               <tr>
                 <th>Total:</th>
                 <td>{{format-currency purchaseTransaction.total fallback='n/a'}}</td>
               </tr>
               <tr>
                 <th>Total Paid:</th>
                 <td>({{format-currency purchaseTransaction.totalPaid fallback='n/a'}})</td>
               </tr>
               {{#unless purchaseTransaction.paidInFull}}
               <tr>
                 <th>Amount Left:</th>
                 <td>{{format-currency purchaseTransaction.totalLeftToPay fallback='n/a'}}</td>
               </tr>
               {{/unless}}

           </tbody></table>
         </div>
       </div>
     </div>
     <div class="row no-print">
       <div class="col-xs-12">
         <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
         {{#unless purchaseTransaction.paidInFull}}
           <div class="btn-group pull-right">
            <button type="button" class="btn btn-success" {{action "markAsPaidToday" purchaseTransaction}}><i class="fa fa-credit-card"></i> {{t 'product.transactions.paid_today'}}
            </button>
             <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu">
               <li>{{#link-to 'company.transactions.purchase-transactions.purchase-transaction.payments.new'}}
                 <a href={{view.href}} class="text-muted" style="font-size: 15px;margin-left:10px;"> Partial Payment</a> {{/link-to}}</li>
             </ul>
           </div>
         {{/unless}}
         <!-- <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
           <i class="fa fa-download"></i> Generate PDF
         </button> -->
       </div>
     </div>
   </section>
