<form  class="form-horizotal" role="form" {{action "save" paymentTransaction on="submit"}}> <!-- horizontal form -->
  <div class="row">
    {{orca-input-with-label field = paymentTransaction.description displayText=(t 'fields.description')
    classNames="col-sm-12" validation=paymentTransaction.validations.attrs.description}}

    {{orca-input-with-label field = paymentTransaction.invoiceNumber displayText=(t 'fields.invoiceNumber')
    classNames="col-sm-12" validation=paymentTransaction.validations.attrs.invoiceNumber}}

    {{#orca-dropdown-label
      classNames="col-sm-12"
      options=allPeople
      selected=paymentTransaction.person
      onchange=(action (mut paymentTransaction.person))
      placeholder = (t 'product.transactions.payment-transactions.payment-transaction.paid_to')
      displayText=(t 'product.transactions.payment-transactions.payment-transaction.paid_to')
      as |person|}}
        {{person.firstName}} {{person.lastName}}
    {{/orca-dropdown-label}}

    {{orca-input-date-with-label field = paymentTransaction.paymentDueDate
    displayText=(t 'fields.payment_due_date')
    classNames="col-sm-12"
    validation=paymentTransaction.validations.attrs.paymentDueDate}}


    {{orca-input-date-with-label field = paymentTransaction.transactionPaidOn
    displayText=(t 'fields.payment_paid_date')
    classNames="col-sm-12"
    validation=paymentTransaction.validations.attrs.transactionPaidOn}}

    {{#orca-dropdown-label
      classNames="col-sm-12"
      validation=paymentTransaction.validations.attrs.paymentType
      options=allPaymentTypes
      selected=paymentTransaction.paymentType
      onchange=(action (mut paymentTransaction.paymentType))
      placeholder = (t 'product.transactions.transaction.payment_type')
      displayText=(t 'product.transactions.transaction.payment_type')
      as |paymentType|}}
        {{paymentType.name}}
    {{/orca-dropdown-label}}


  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-default pull-right">{{t 'fields.save'}}</button>
    <button class="btn btn-default pull-right" style="margin-right: 5px;" {{action "cancel" paymentTransaction}}>{{t 'fields.cancel'}}</button>
  </div>
</form>
