{{#link-to 'company.projects.new'}}
<button class="btn btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  {{t 'product.projects.new_project'}}
</button>
{{/link-to}}
<!-- <a class="pull-right" style="padding-top:10px;" {{action "toggleShowAll"}}>{{#if showAll}}{{t 'product.projects.project.view_active_only'}}{{else}}{{t 'product.projects.project.show_all'}}{{/if}}</a> -->
<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'fields.name'}}</th>
          <th>{{t 'fields.total_spent'}}</th>
          <th>{{t 'fields.totalClosingAmount'}}</th>
          <th>{{t 'fields.predicted_total'}}</th>
          <th>{{t 'fields.finished_stages'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each projects as |project|}}
          {{#link-to 'company.projects.project' project.id tagName="tr"}}
            <td>{{project.name}}</td>
            <td>{{format-currency project.totalSpent fallback='n/a'}}</td>
            <td>{{format-currency project.totalClosingAmount fallback='n/a'}}</td>
            <td>{{format-currency project.predictedTotal fallback='n/a'}}</td>
            <td>
              {{#if project.isActive}}
                {{project.finishedStages}} of {{project.projectStages.length}}
              {{else}}
                {{t 'product.projects.project.project_closed'}}
              {{/if}}
            </td>
            <td>
              {{#if project.canBeClosed}}
                {{#if project.wasVeryProfitable}}
                  <i class="fa fa-thumbs-up"></i>
                {{else if project.wasProfitable}}
                  <i class="fa a-balance-scale"></i>
                {{else}}
                  <i class="fa fa-thumbs-down"></i>
                {{/if}}
              {{/if}}
            </td>
          {{/link-to}}
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
