
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Administration</h3>
        </div>
        <div class="box-body no-padding" style="display: block;">
          <ul class="nav nav-pills nav-stacked">
            {{#link-to 'company.administration.stages' tagName="li" href=false}}
            <a href="#"><i class="fa fa-cubes"></i> <span>{{t 'product.administration.menu.stages'}}</span></a>
            {{/link-to}}
            {{#link-to 'company.administration.providers' tagName="li" href=false}}
            <a href="#"><i class="fa fa-truck"></i> <span>{{t 'product.administration.menu.providers'}}</span></a>
            {{/link-to}}
            {{#link-to 'company.administration.payment-types' tagName="li" href=false}}
            <a href="#"><i class="fa fa-money"></i> <span>{{t 'product.administration.menu.paymentTypes'}}</span></a>
            {{/link-to}}
            {{#link-to 'company.administration.items' tagName="li" href=false}}
            <a href="#"><i class="fa fa-tags"></i> <span>{{t 'product.administration.menu.items'}}</span></a>
            {{/link-to}}
            {{#link-to 'company.administration.labor-items' tagName="li" href=false}}
            <a href="#"><i class="fa fa-wrench"></i> <span>{{t 'product.administration.menu.laborItems'}}</span></a>
            {{/link-to}}
            {{#link-to 'company.administration.people' tagName="li" href=false}}
            <a href="#"><i class="fa fa-users"></i> <span>{{t 'product.administration.menu.people'}}</span></a>
            {{/link-to}}
            <!-- {{#link-to 'company.administration.item-types' tagName="li" href=false}}
            <a href="#"><i class="fa fa-object-group"></i> <span>{{t 'product.administration.menu.itemTypes'}}</span></a>
            {{/link-to}}
            <li><a href="#"><i class="fa fa-users"></i> Users</a></li> -->
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</section>
