<section class="content-header">
  <h1>Administration<small></small></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Menu</h3>
        </div>
        <div class="box-body no-padding" style="display: block;">
          <ul class="nav nav-pills nav-stacked">
            {{#link-to 'company.administration.stages' tagName="li" href=false}}
            <a href="#"><i class="fa fa-cubes"></i> <span>{{t 'product.administration.menu.stages'}}</span></a>
            {{/link-to}}
            <li><a href="#"><i class="fa fa-envelope-o"></i> provider</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i> Item Types</a></li>
            <li><a href="#"><i class="fa fa-filter"></i> Payment Types</a>
            </li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Users</a></li>

            <!-- {{#link-to 'company.administration.stages' class="list-group-item"}}{{t 'product.administration.menu.stages'}}{{/link-to}}
    {{#link-to 'company.administration.provider' class="list-group-item"}}{{t 'product.administration.menu.providers'}}{{/link-to}}
    {{#link-to 'company.administration.item-types' class="list-group-item"}}{{t 'product.administration.menu.itemTypes'}}{{/link-to}}
    {{#link-to 'company.administration.users' class="list-group-item"}}{{t 'product.administration.menu.users'}}{{/link-to}}
    {{#link-to 'company.administration.payment-types' class="list-group-item"}}{{t 'product.administration.menu.paymentTypes'}}{{/link-to}} -->

          </ul>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</section>
