<div class="small-box {{color}}">
  <div class="inner">
    <h3>{{title}}</h3>
    <p>{{subTitle}}</p>
  </div>
  <div class="icon">
    <i class="{{icon}}"></i>
  </div>
  {{#link-to moreInfoRoute tagName="a" class="small-box-footer"}}
    {{t 'product.commonWords.more_info'}} <i class="fa fa-arrow-circle-right"></i>
  {{/link-to}}
</div>
