<!-- <div class="row"> -->
  <!-- <div class="col-sm-4"> -->
    {{#link-to 'company.transactions.purchase-transactions.new'}}
    <button class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
      {{t 'product.transactions.purchase-transactions.purchase-transaction.new'}}
    </button>
    {{/link-to}}
  <!-- </div> -->
  <div class="pull-right"  style="margin-top: 15px">
    {{#link-to 'company.transactions.purchase-transactions' }}
    view all
    {{/link-to}}
  </div>
<!-- </div> -->
<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'fields.paid_to'}}</th>
          <th>{{t 'fields.transaction_type'}}</th>
          <th>{{t 'fields.description'}}</th>
          <th>{{t 'fields.payment_due_date'}}</th>
          <th>{{t 'fields.total'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each purchaseTransactions as |purchaseTransaction|}}
          {{#link-to purchaseTransaction.route purchaseTransaction.id tagName="tr"}}
          <td>{{purchaseTransaction.provider.name}}</td>
          <td>{{t purchaseTransaction.transactionType}}</td>
          <td>{{purchaseTransaction.description}}</td>
          <td>{{format-date purchaseTransaction.paymentDueDate}}</td>
          <td>{{format-currency purchaseTransaction.total fallback='n/a'}}</td>
          {{/link-to}}
        {{/each}}
    </tbody>
  </table>
  </div>
</div>

{{#link-to 'company.transactions.labor-transactions.new'}}
<button class="btn btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  {{t 'product.transactions.labor-transactions.labor-transaction.new'}}
</button>
{{/link-to}}
<div class="pull-right"  style="margin-top: 15px">
  {{#link-to 'company.transactions.labor-transactions' }}
  view all
  {{/link-to}}
</div>
<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'fields.paid_to'}}</th>
          <th>{{t 'fields.transaction_type'}}</th>
          <th>{{t 'fields.description'}}</th>
          <th>{{t 'fields.payment_due_date'}}</th>
          <th>{{t 'fields.total'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each laborTransactions as |laborTransaction|}}
          {{#link-to laborTransaction.route laborTransaction.id tagName="tr"}}
          <td>{{laborTransaction.person.firstName}}</td>
          <td>{{t laborTransaction.transactionType}}</td>
          <td>{{laborTransaction.description}}</td>
          <td>{{format-date laborTransaction.paymentDueDate}}</td>
          <td>{{format-currency laborTransaction.total fallback='n/a'}}</td>
          {{/link-to}}
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
