<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon {{if projectStage.isOnTrack "bg-green" "bg-red"}}"><i class="fa fa-flag-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{{if projectStage.isOnTrack "On track" "above budget"}}</span>
        <span class="info-box-number">
          {{#if projectStage.isOnTrack}}
            {{projectStage.percentageSpent}}%
          {{/if}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class ="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{t 'product.projects.project.stages.main_info'}}</h3>
        <p>{{t 'product.projects.project.stages.main_info_subtext'}}</p>
      </div>
      <div class="icon">
        <i class="ion ion-ios-list-outline"></i>
      </div>
      {{#link-to "company.projects.project.stages.stage.info" tagName="a" class="small-box-footer"}}
        {{t 'product.commonWords.more_info'}} <i class="fa fa-arrow-circle-right"></i>
      {{/link-to}}
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{projectStage.quantityOfTotalItems}}</h3>

        <p>Purchased items</p>
      </div>
      <div class="icon">
        <i class="fa fa-shopping-cart"></i>
      </div>
      {{#link-to "company.projects.project.stages.stage.items.purchases" tagName="a" class="small-box-footer"}}
        View all <i class="fa fa-arrow-circle-right"></i>
      {{/link-to}}
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{projectStage.quantityOfPaymentItems}}</h3>
        <p>Payment items</p>
      </div>
      <div class="icon">
        <i class="fa fa-bank"></i>
      </div>
      {{#link-to "company.projects.project.stages.stage.items.purchases" tagName="a" class="small-box-footer"}}
        View all <i class="fa fa-arrow-circle-right"></i>
      {{/link-to}}
    </div>
  </div>
</div>
