
<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'fields.name'}}</th>
          <th>{{t 'fields.total'}}</th>
          <th>{{t 'fields.quantity'}}</th>
          <!-- <th>{{t 'fields.date'}}</th> -->
        </tr>
      </thead>
      <tbody>
        {{#each purchasedItems as |item|}}
          {{#link-to 'company.transactions.purchase-transactions.purchase-transaction.index' item.id tagName="tr" style="vertical-align:middle;"}}
            <td style="vertical-align:middle;">{{item.name}}</td>
            <td style="vertical-align:middle;">{{format-currency item.total fallback='n/a'}} </td>
            <td style="vertical-align:middle;">{{item.quantity}}</td>
            <!-- <td style="vertical-align:middle;">{{item.purchaseTransaction.purchaseDate}}</td> -->
          {{/link-to}}
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
