

<section class="invoice">
     <!-- title row -->
     <div class="row">
       <div class="col-xs-12">
         <h2 class="page-header">
           <i class="fa fa-user"></i> Paid To: {{paycheck.person.firstName}}

           <small>{{paycheck.description}}</small>
         </h2>
       </div>
       <!-- /.col -->
     </div>
     <!-- info row -->
     <div class="row invoice-info">

       <div class="col-sm-4 invoice-col">
         <!-- <b>Description:</b> {{paycheck.description}}<br> -->
         <b>Reference #{{paycheck.id}}</b><br>
         <b>Payment Due:</b> {{format-date paycheck.paymentDueDate}}<br>
         <!-- <b>Default Project:</b> {{paycheck.defaultProjectStage.project.name}}<br>
         <b>Default Stage:</b> {{paycheck.defaultProjectStage.name}}<br> -->
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         <b>Invoice #{{paycheck.invoiceNumber}}</b><br>
         <!-- <b>Order ID:</b> 4F3S8J<br>
         <b>Account:</b> 968-34567 -->
         <!-- To
         <address>
           <strong>John Doe</strong><br>
           795 Folsom Ave, Suite 600<br>
           San Francisco, CA 94107<br>
           Phone: (555) 539-1037<br>
           Email: john.doe@example.com
         </address> -->
       </div>
       <!-- /.col -->
       <div class="col-sm-4 invoice-col">
         {{#if paycheck.paidInFull}}
            <b>Paid in full</b> <!-- {{format-date paycheck.transactionPaidOn}} -->
         {{else}}
            <b>NOT PAID</b>
         {{/if}}

         {{#link-to "company.transactions.paychecks.paycheck.edit" class="pull-right" data-toggle="tooltip" title="edit transaction"}}
          <a href={{view.href}} class="text-muted" style="font-size: 15px;margin-left:10px;"><i class="fa fa-pencil"></i></a>
         {{/link-to}}<br>
         <br>
         <!-- <b>Order ID:</b> 4F3S8J<br>
         <b>Account:</b> 968-34567 -->
       </div>
     </div>

     <br>
     {{#link-to 'company.transactions.paychecks.paycheck.items.new'}}
     <button class="btn btn-default">
       <i class="glyphicon glyphicon-plus"></i>
       <span class="btn-hover-text">{{t 'product.transactions.paychecks.paycheck.add_item'}}</span>
     </button>
     {{/link-to}}
     <div class="row">
       <div class="col-xs-12 table-responsive">
         <table class="table table-striped">
           <thead>
           <tr>
             <th>Qty</th>
             <th>Type</th>
             <th>Description</th>
             <th>Project</th>
             <th>Stage</th>
             <th>Subtotal</th>
             <td></td>
           </tr>
           </thead>
           <tbody>
             {{#each paycheck.paycheckItems as |transactionItem|}}
             <tr>
               <td>{{transactionItem.quantity}}</td>
               <td>{{transactionItem.laborItem.name}}</td>
               <td>{{transactionItem.description}}</td>
               <td>
                 {{#link-to 'company.projects.project' transactionItem.projectStage.project.id}}
                   {{transactionItem.projectStage.project.name}}
                 {{/link-to}}
               </td>
               <td>
                 {{#link-to 'company.projects.project.stages.stage' transactionItem.projectStage.project.id transactionItem.projectStage.id}}
                   {{transactionItem.projectStage.name}}
                 {{/link-to}}
               </td>
               <td>{{format-currency transactionItem.total fallback='n/a'}}</td>
               <td>
                 <button class="btn btn-xs btn-default pull-right btn-hover" {{action "remove" transactionItem}}><i class="glyphicon glyphicon-remove"></i></button>
                {{#link-to 'company.transactions.paychecks.paycheck.items.item.edit' transactionItem.id}}
                  <button class="btn btn-xs btn-default pull-right btn-hover" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil"></i></button>
                {{/link-to}}
               </td>
             </tr>
             {{/each}}
           </tbody>
         </table>
       </div>
     </div>

     <div class="row">
       <!-- accepted payments column -->
       <div class="col-xs-6">
         <div class="box">
            <div class="box-header">
              <h3 class="box-title">Payment Method: {{paycheck.paymentType.name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tbody>
                  <tr>
                    <th>Date</th>
                    <th>Amount paid</th>
                    <th>Payment Type</th>
                  </tr>
                  {{#each paycheck.paymentTransactions as |t|}}
                    <tr>
                      <td>{{format-date t.transactionPaidOn}}</td>
                      <td>{{format-currency t.total fallback='n/a'}}</td>
                      <td>{{t.paymentType.name}}</td>
                      <td><button class="btn btn-xs btn-default pull-right btn-hover" {{action "removePayment" t}}><i class="glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                  {{else}}
                  <tr><td colspan="2">
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                      Nothing to display here
                    </p></td></tr>
                  {{/each}}
              </tbody>
            </table>
            </div>
            <!-- /.box-body -->
          </div>
       </div>
       <!-- /.col -->
       <div class="col-xs-6">
         {{#unless paycheck.paidInFull}}
          <p class="lead">Amount Due {{format-date paycheck.paymentDueDate}}</p>
         {{/unless}}

         <div class="table-responsive">
           <table class="table">
             <tbody>
               <tr>
                 <th>Total:</th>
                 <td>{{format-currency paycheck.total fallback='n/a'}}</td>
               </tr>
               <tr>
                 <th>Total Paid:</th>
                 <td>({{format-currency paycheck.totalPaid fallback='n/a'}})</td>
               </tr>
               {{#unless paycheck.paidInFull}}
               <tr>
                 <th>Amount Left:</th>
                 <td>{{format-currency paycheck.totalLeftToPay fallback='n/a'}}</td>
               </tr>
               {{/unless}}
             </tbody>
           </table>
         </div>
       </div>
     </div>
     <div class="row no-print">
       <div class="col-xs-12">
         <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
         {{#unless paycheck.paidInFull}}
           <div class="btn-group pull-right">
            <button type="button" class="btn btn-success" {{action "markAsPaidToday" paycheck}}><i class="fa fa-credit-card"></i> {{t 'product.transactions.paid_today'}}
            </button>
             <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu">
               <li>{{#link-to 'company.transactions.paychecks.paycheck.payments.new'}}
                 <a href={{view.href}} class="text-muted" style="font-size: 15px;margin-left:10px;"> Partial Payment</a> {{/link-to}}</li>
             </ul>
           </div>
         {{/unless}}
       </div>
     </div>
   </section>
