<form  class="form-horizotal" role="form" {{action "save" paymentTransactionItem on="submit"}}> <!-- horizontal form -->
  <div class="row">
    {{#orca-typeahead-with-label
      classNames="col-sm-12"
      validation=paymentTransactionItem.validations.attrs.laborItem
      selected=paymentTransactionItem.laborItem
      search=(action "search")
      onchange=(action (mut paymentTransactionItem.laborItem))
      placeholder = (t 'product.transactions.payment-transactions.payment-transaction.labor-item')
      displayText=(t 'product.transactions.payment-transactions.payment-transaction.labor-item')
      oncreate=(action 'addNewItem')
      as |item|}}
       {{item.name}}
     {{/orca-typeahead-with-label}}
   </div>
   <div class="row">
     {{orca-input-with-label field = paymentTransactionItem.description displayText=(t 'fields.description')
        classNames="col-sm-12" validation=paymentTransactionItem.validations.attrs.description}}
   </div>
   <div class="row">
     {{#orca-dropdown-label
      classNames="col-sm-12"
      options=allProjects
      selected=selectedProject
      onchange=(action (mut selectedProject))
      placeholder = (t 'product.transactions.transaction.project')
      displayText=(t 'product.transactions.transaction.project')
      as |project|}}
        {{project.name}}
      {{/orca-dropdown-label}}
    </div>
    <div class="row">
      {{#orca-dropdown-label
         classNames="col-sm-12"
         validation=paymentTransactionItem.validations.attrs.projectStage
         options=selectedProject.projectStages
         selected=paymentTransactionItem.projectStage
         onchange=(action (mut paymentTransactionItem.projectStage))
         placeholder = (t 'product.transactions.transaction.project_stage')
         displayText=(t 'product.transactions.transaction.project_stage')
         as |stage|}}
          {{stage.name}}
      {{/orca-dropdown-label}}
    </div>
    <div class="row">
      {{orca-input-with-label field = paymentTransactionItem.quantity displayText=(t 'product.commonWords.quantity')
        classNames="col-sm-12" validation=paymentTransactionItem.validations.attrs.quantity numeric="true" scale="2"}}
    </div>
    <div class="row">
      {{orca-input-currency-with-label field = paymentTransactionItem.total displayText=(t 'product.commonWords.total')
        classNames="col-sm-12" validation=paymentTransactionItem.validations.attrs.total numeric="true" scale="2"}}
    </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-default pull-right">{{t 'fields.save'}}</button>
    <button class="btn btn-default pull-right" style="margin-right: 5px;" {{action "cancel" paymentTransactionItem}}>{{t 'fields.cancel'}}</button>
  </div>
</form>
