<!-- <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-plus"></i></button> -->
<h2>{{t 'product.administration.menu.providers'}}<small></small></h2>
{{#show-on-click  modelIsInValid=modelIsInValid
    onCloseClicked="closeAddPanel" onAddClicked="add" itemAdded=name }}
  <div class="form-group {{if modelIsInValid "has-error"}}">
    <label for="nameInput">{{t 'fields.name'}}</label>
    {{input value=name class="form-control" id="nameInput" }}
  </div>
{{/show-on-click}}

<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{t 'fields.name'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each providers as |provider|}}
        <tr>
          <td>{{provider.name}}</td>
          <!-- <td><button type="submit" class="btn btn-default" {{action "removeStage" stage}}>{{t 'product.basic.buttonText.delete'}}</button></td> -->
        </tr>
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
